/UltrasoundSegmentation/Spine/DataArrays
/UltrasoundSegmentation/Spine/Results
/UltrasoundSegmentation/Spine/SavedModels
/DeepLearnLive/RunNeuralNet/Scripts/StartNeuralNet.lnk
/DeepLearnLive/Networks/CNN_LSTM/cnn_TBME_0.h5
/DeepLearnLive/Networks/CNN_LSTM/cnn_TBME_0.json
/DeepLearnLive/Networks/CNN_LSTM/lstm_TBME_0.h5
/DeepLearnLive/Networks/CNN_LSTM/lstm_TBME_0.json
/UltrasoundObjectDetection/SlicerModule/BLUELungUltrasound/Resources/model/weights

# Ignore pyc files
*.pyc